* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 2em auto;
  max-width: 1200px;
  color:#666;
  background:#fafafa;
  padding:20px;
}

input {
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  width: 100%;
}

input[type=submit] {
  width: 50%;
}

h1 {font-size:24px; font-weight:normal; text-align:center; color:#337ab7}
h2 {font-size:20px; font-weight:normal; text-align:left; color:#ad7367}
h3 {font-size:19px; font-weight:normal; text-align:left; color:#337ab7}
h4 {font-size:19px; font-weight:normal; text-align:left; color:#388e3c}
em {font-size:12px;}

.labeldiv {
	font-size:16px;
	font-weight:bold;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.ancre {
}
.solo {
}
.center-div {
     margin: 0 auto;
     width: 100px;
}
.searchoptions {
	color: #008000;
}
.st {
	font-weight: bold;
}
div.table-responsive {
  overflow-x:auto;
}

.bold-red {
    color: red;
    font-weight: bold;
}

/* Documentation page */
