* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  margin: 2em auto;
  margin-top: 0rem;
  max-width: 1200px;
  color:#666;
  background:#ffffff;
  padding:20px;
}


input {
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  width: 100%;
}

input[type=submit] {
  width: 50%;
}

h1 {font-size:24px; font-weight:normal; text-align:center; color:#337ab7}
h2 {font-size:20px; font-weight:normal; text-align:left; color:#c52d0d}
h3 {font-size:19px; font-weight:normal; text-align:left; color: #009688; font-weight: bold;}
h4 {font-size:19px; font-weight:normal; text-align:left; color:#388e3c}
em {font-size:12px;}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  max-width: 1160px;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: ##f3f3f3;
  max-width: 1160px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #68bd9e;
  width: 0%;
  max-width: 1160px;
}

.table th {
    padding: 0.5rem;
}

.table .thead-light th {
    padding-left: 0.25cm; /* To align with section title */
    border-radius: 10px 10px 10px 10px;
    border-color: #fff;
    background-color: #c2d5e9;
    vertical-align: middle;
}

.table .thead-view th {
    background-color: #c1d9b3;
}

.table th td {
    border-color-rigth: #fafafa;
}

.table td, .table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

th, td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.entete {
  background-color: #607d8b;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.25rem;
}

.labeldiv {
    font-size:16px;
    font-weight:bold;
}

.form-group {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fcfcfc;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.center-div {
     margin: 0 auto;
     width: 100px;
}

.searchoptions {
    color: #008000;
}

.st {
    font-weight: bold;
}

div.table-responsive {
  overflow-x:auto;
}

.bold-red {
    color: red;
    font-weight: bold;
}

.description {
    color: #194162;;
    font-size:16px;
}

.box-style-1 {
   padding:4px;
   border:4px solid #ebebeb;
}

.box-style-2 {
   padding:3px;
   border:4px solid #ffffff;
}

.sectiontitle {font-size:20px; font-weight:normal; text-align:left; color:#c52d0d}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #557ca7;
    border-color: #557ca7;
}

.btn-danger {
    color: #fff;
    background-color: #cf632f;
    border-color: #cf632f;
}

.bg-success {
    background-color: #59a56b!important;
}

.sticky-image-wrapper{
    position: fixed;
    top: 20px;
    right: 5%;
    display: block;
}

.arrowtbl {
    margin:0px;
    padding:0px;
}

.saveForm {
    position: relative;
    top: -30px;
    left: 300px;
    width: 500px;
    height: 200px;
    padding: 25px;
    background-color: #fbfbfb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.saveForm input[type=text] {
  width: 50%;
  border:1px solid #ebebeb;
}

.saveForm input[type=submit] {
  width: 25%;
}

.saveForm input[type=reset] {
  width: 25%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #607d8b;
}