:root {
        --font-family: 'Roboto Flex', sans-serif;
        --btn-color: #edf1f6;
        --text-color: #354082;
        --btn-menu-color: #b14652;
        --btn-menu-bg: #fff;
}


html {
        scroll-behavior: smooth;
}

body {
        margin: 2em auto;
        margin-top: 0rem;
        max-width: 1350px;
        color:#666;
        background:#ffffff;
        padding:20px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: var(--font-family);
}

footer {
        margin-top: auto;
        margin-bottom: -120px;
}

input {
        border: 1px solid #eeeaea; /* transparent; */
        padding: 5px;
        font-size: 16px;
}

input[type=text] {
        width: 100%;
}

input[type=submit] {
        width: 50%;
}

input, select, textarea, fieldset, div {
        border-radius: 0.25rem!important;
}

h1 {font-size:24px; font-weight:normal; text-align:center; color:#337ab7}
h2 {font-size:20px; font-weight:normal; text-align:left; color:#c52d0d}
h3 {font-size:19px; font-weight:normal; text-align:left; color: #009688; font-weight: bold;}
h4 {font-size:19px; font-weight:normal; text-align:left; color:#388e3c}
em {font-size:12px;}

a, a:visited, a:hover { text-decoration: none; color: #2578cf; }

		
/* Style the header: fixed position (always stay at the top) */
.header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: #fff;
	max-width: 1160px;
}

.entete {
	text-decoration: none;
	background-color: var(--btn-color);
	color: var(--text-color);
	font-size: 20px;
	font-family: var(--font-family);
	padding: 6px;
	border-radius: 0.75rem;
}

.entete a:visited, .entete a:hover
{
	text-decoration: none;
	decoration: none;
	color: var(--text-color);
}

.align-to-right {
	float: right;
	padding: 10px;
}

.footer_cpr {
	font-style: italic;
	color: #009992;
}

/* The progress container (grey background) */
.progress-container {
	width: 100%;
	height: 8px;
	background: ##f3f3f3;
	max-width: 1160px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
	height: 8px;
	background: #68bd9e;
	width: 0%;
	max-width: 1160px;
}

.loadmessage {
	padding:5px 0px 50px 50px;
	background: #fff;
	position: fixed;
	top: 120px;
	/*right: 0px;*/
	z-index: 1000;
}

.warnmessage {
	display: none;
	padding:0px;
	background: #fff;
	position: relative;
	top: 5px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.tableFixHead {
	overflow: auto;
	height: 500px;
}
.tableFixHead thead th {
	position: sticky;
	top: -1px;
	z-index: 1;
}

.table th {
	padding: 0.5rem;
}

.table .thead-light th {
	padding-left: 0.25cm; /* To align with section title */
	border-radius: 10px 10px 0px 0px;
	border-color: #fff;
	background-color: #c2d5e9;
	color: #585894;
	vertical-align: middle;
	/*text-align: center;*/
}

.table .thead-view th {
	background-color: #c2d5e9;
	color: #585894;
}

.table th td {
	border-color-rigth: #fafafa;
}

.table td, .table th {
	padding: 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-bottom: 0px solid #dee2e6;
}

th, td {
	padding-top: 4px;
	padding-bottom: 4px;
}

span.selval {
	color: brown;
}

.labeldiv {
	font-size:16px;
	font-weight:bold;
}

.menu-select { color: var(--btn-menu-color); /*background-color: var(--btn-menu-bg); border-color: var(--btn-menu-bg);*/ }

.form-group2 {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.div-group {
	width: 100%;
}

.form-control {
	border: 1px solid #c9d6e3;
}

.form-control:disabled {
	background-color : #fdfdfd;
}
* {
	box-sizing: border-box;
}

.form-check {
    display: inline-block;
}

.box-home {
	display: inline-block;
    border: 1px solid #bbd0e5;
    min-height: 500px;
	vertical-align: top;
	text-align: justify;
	margin: 5px;
}

.box-home:hover {
    box-shadow: 1px 2px 4px 0px;
}

.box-home-first {
    max-width: 520px;
}

.rounded {
    border-radius: 0.65rem!important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .btn-group, .btn-group-lg,
.ui-widget, .input-selval, .form-group, .form-group2, .form-control, .form-control-sm, .solo {
	font-family: var(--font-family);
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #ebebeb;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fcfcfc;
	border: 1px solid #ebebeb;
	border-bottom: none;
	border-top: none;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.center-div {
	margin: 0 auto;
	width: 300px;
}

.searchoptions {
	color: #008000;
}

.st {
	font-weight: bold;
}

div.table-responsive {
	overflow-x:auto;
}

.bold-red {
	color: red;
	font-weight: bold;
}

.description {
	color: #194162;;
	font-size:16px;
}

.msgbox {
	display: none;
	color: #f8f8f8;
	font-weight: bold;
	border-radius: 15px;
	border-top: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}

.errbox {
	background: #c47c86;
}

.successbox {
	background: #76c177;
}

.filemsgbox {
	background: #dfd7cf;
	color: #52499e;
}

.dataset {
	height: 38px;
	background-color: #e9ecef;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.dataset-select {
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

span.selval {
	color: brown;
	margin-top: 0.2rem;
}

p.selval {
	margin-top: 0.2rem;
}

.input-selval {
	width: 300px;
	outline: none !important;
	margin-top: 0.2rem;
	padding: 0.25rem 0.5rem;
	line-height: 1.5;
	color: #295683;
	border:1px solid #d5dde3;
	border-radius: 0.25rem;
	background-color: #fff;
	background-clip: padding-box;
}

.input-selval:focus {
	outline: none !important;
	margin-top: 0.2rem;
	padding: 0.25rem 0.5rem;
	color: #295683;
	border:1px solid #d5dde3;
	border-radius: 0.25rem;
	box-shadow: 0 0 10px #719ECE;
	
}

.custom-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.box-style-1 {
	padding:4px;
	border:2px solid #ebebeb;
}

.box-style-2 {
	padding:3px;
	border:4px solid #ffffff;
}

.sectiontitle {font-size:20px; font-weight:normal; text-align:left; color:#009688}

.link {
	text-decoration: underline;
	cursor: pointer;
}

.tab-content {
	/*max-height: 600px;*/
	overflow-x: hidden;
	overflow-y: scroll;
}

.ui-menu .ui-menu-item a{
	color: #96f226;
	border-radius: 0px;
	border: 1px solid #454545;
}

.ui-autocomplete {
	min-height: 50px;
	max-height: 200px;
	overflow-y: auto;   /* prevent horizontal scrollbar */
	overflow-x: hidden; /* add padding to account for vertical scrollbar */
	z-index:1000 !important;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 4px #719ECE;
}

.ui-corner-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ui-corner-left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ui-corner-top, .ui-corner-left {
	border-top-left-radius: 10px;
}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 68em;}

.ui-widget-header {
	border: 0px solid #eee;
	background: #fff;
	color: #13743a;
	font-weight: bold;
}

.ui-widget.ui-widget-content {
	border: 0px solid #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0px solid #fff;
	font-weight: normal;
	color: #1f7025;
	background: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 0px solid #fff;
	background: var(--btn-color);
	font-weight: normal;
	color: var(--text-color);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: var(--text-color);
}

.btn {
	border: 0px solid #fff;
	border-radius: 0.35rem;
}

.btn-primary {
	color: var(--text-color);
	background-color: var(--btn-color);
	border-color: var(--btn-color);
}

.btn-primary:hover, .btn-primary:active,{
	border-color: var(--btn-color);
}

.btn-success {
    color: #fff;
    background-color: #68b893;
    border-color: #198754;
}

.btn-danger {
	color: #fff;
	background-color: #cf632f;
	border-color: #cf632f;
}

.bg-success {
	background-color: #59a56b!important;
}

.btn-secondary {
	color: #fff;
	background-color: #b7bec6;
	border-color: #6c757d;
}

.btn-secondary:active, .activated  {
	background-color: #5e6062;
}

.btn-secondary:hover {
	background-color: #546b81;
}

.sticky-image-wrapper{
	position: fixed;
	top: 20px;
	right: 1%;
	display: block;
}

.arrowtbl {
	margin:0px;
	padding:0px;
}

.saveForm {
	z-index: 1;
	position: absolute;
	top: 30px;
	left: 500px;
	width: 500px;
	height: 200px;
	padding: 25px;
	background-color: #fbfbfb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.saveForm input[type=text] {
	width: 50%;
	border:1px solid #ebebeb;
}

.saveForm input[type=submit] {
	width: 25%;
}

.saveForm input[type=reset] {
	width: 25%;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #94aac1;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #607d8b;
}

