name: ci 
on:
  push:
    branches:
      - docs 
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs
      - run: pip install mkdocs-material
      - run: pip install mkdocs-material-extensions
      - run: pip install mkdocs-macros-plugin
      - run: pip install mkdocs-markdownextradata-plugin
      - run: pip install mkdocs-bootswatch
      - run: pip install mkdocs-pdf-with-js-plugin
      - run: pip install mkdocs-section-index
      - run: pip install mkdocs-tooltips
      - run: pip install mkdocs-with-pdf
      - run: pip install mkdocs-print-site-plugin
      - run: pip install pymdown-extensions
      - run: mkdocs gh-deploy --force
